{% extends 'base.html.twig' %}

{% block title %}
    Ajouter un article
{% endblock %}

{% block body %}
    {% if post.id %}
        <h1>Modifier un article</h1>
    {% else %}
        <h1>Ajouter un article</h1>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.category) }}
        {{ form_row(form.tags) }}

        {% if post.id %}
            {{ form_row(form.submit, {label: "Mettre à jour l'article"}) }}
        {% else %}
            {{ form_row(form.submit, {label: "Créer l'article"}) }}
        {% endif %}
    {{ form_end(form) }}
{% endblock %}