{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <nav class="float-end">
        <a href="{{ path('app_post_create') }}" class="btn btn-primary">Créer un nouvel article</a>
    </nav>

    <ul class="list-unstyled my-3">
        {% for post in posts %}
            <li>
                <article>
                    <header>
                        <h2><a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></h2>
                        <p>Créé le {{ post.createdAt|date('d/m/Y H:i') }} dans la catégorie <em>{{ post.category.name }}</em></p>
                    </header>
                    {{ post.content|slice(0, 200) }}...(<a href="{{ path('app_post_show', {id: post.id}) }}">Voir la suite</a>)
                </article>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
