{% extends 'base.html.twig' %}

{% block title %}
    post.title
{% endblock %}

{% block body %}
    <article>
        <header class="border-bottom my-3">
            <h1>{{ post.title }}</h1>
            <p>{{ post.createdAt|date('d/m/Y H:i') }}</p>
        </header>
        {{ post.content|nl2br }}
    </article>

    <section>
        <h2>Espace commentaire</h2>

        {{ form(form) }}

        <ul class="list-unstyled">
            {% for comment in comments %}
                <li>
                    <article>
                        <h3>{{ comment.nickname }}</h3>
                        {{ comment.content|nl2br }}
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}