{% extends 'base.html.twig' %}

{% block title %}
    post.title
{% endblock %}

{% block body %}
    <article>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == post.user.id %}
            <nav>
                <a class="btn btn-primary float-end" href="{{ path('app_post_edit', {id: post.id}) }}">Modifier</a>
            </nav>
        {% endif %}
        <header class="border-bottom my-3">
            <h1>{{ post.title }}</h1>
            <p>{{ post.createdAt|date('d/m/Y H:i') }}</p>
            <p>Catégorie : {{ post.category.name }}</p>
        </header>
        {{ post.content|nl2br }}
    </article>

    <section>
        <h2>Espace commentaire</h2>

        {{ form(form) }}

        <ul class="list-unstyled">
            {% for comment in comments %}
                <li>
                    <article>
                        <h3>{{ comment.nickname }}</h3>
                        {{ comment.content|nl2br }}
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}